{
  "extends": [
    "../.eslintrc.json",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "env": {
    "browser": true,
    "node": false
  },
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".tsx"]
      }
    ],
    "node/no-unsupported-features/node-builtins": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  }
}
