node_modules
.env
tsconfig.tsbuildinfo
server/lib
core/lib

# Yarn without Zero-Installs
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
